.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;

}

.md-tab, .heavy {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  padding: 12px 24px;
  transition: background-color .35s cubic-bezier(.35,0,.25,1);
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  float: left;
  font-weight: 600;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  position: fixed;
  bottom: 0px;
  color: #777;
  background-color: #ffffff;
  width: 100%;
  max-height: 90%;
}
/* the toggle bar in the footer
The borders let you see where you can click to hide/show the footer
*/
.TopAndBottomBorder
{
  border-top: 1px solid rgb(63,81,181);
  border-bottom: 1px solid rgb(63,81,181);
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*.analyseMenu ul li {*/
  /*display: inline;*/
  /*border: 1px solid black;*/
/*}*/

.pane {
  height: 500px;
}

.process {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.analyse {
  border: 1px solid black;
}

div.stap {
  width: 100%;
  padding-bottom: 5px;
}

span.buttonSpan {
  float: right;
}

div.processContainer div:nth-child(odd) {
  background-color: #F6F6FF;
}

span.stapnummer {
  padding-right: 20px;
}

.navigation {
  font-weight:500;
}

.full-size {
  width:100%;
  float:left;
}

.login-image {
  width:200px;
  margin:0 auto;
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-button.md-primary {
  background-color: rgb(63,81,181);
  color:rgba(255,255,255,0.87);
}
.md-button.md-primary:hover:not([disabled]) {
  background-color: rgb(63,81,181);
  color:rgba(255,255,255,0.87);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.md-button.md-warn {
  background-color: #f44336;
  color:rgba(255,255,255,0.87);
}
.md-button.md-warn:hover:not([disabled]) {
  background-color: #f44336;
  color:rgba(255,255,255,0.87);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.processCard {
  width: 300px;
  background-color: #92e3b5;
  border:1px;
  margin: 30px 50px;
}

.processCard p {
  float: right;
}

.md-title {
  font-size: 24pt;
}
/*  Process Dashboard Section.
    Selector of md-card-* elements is recognized, and working
    IDE is drunk.*/
md-card-title {
  color: #FFFFFF;
}

md-card-header {
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}

md-card-content {
  padding-top: 0px !important;
  margin-top: 0px;
}

md-card-content ul {
  list-style-type: none;
}

md-card-content button {
  background-color: #f5a948;
}

div.newCard {
  padding-top: 5%;
  padding-left: 5%;
}

button.newCard {
  font-size: 80pt;
  color: green;
  background-color: white;
}

button.newCard:active {
  color: green;
}

button.newCard:hover {
  color: green;
  text-shadow:
    -1px -1px 12px #000000,
    1px -1px 12px #000000,
    -1px 1px 12px #000000,
    1px 1px 12px #000000;
}

.cycleBarChartTab{
  font-size: 10pt;
  border-top: 1px solid rgb(00,00,00);
  border-bottom: 1px solid rgb(00,00,00);
  border-left: 1px solid rgb(00,00,00);
  border-right: 1px solid rgb(00,00,00);
  width: 100%;
}

.list-item-height {
  height:70px !important;
  border-bottom:1px;
  align-items:flex-start !important;
}
.list-item-height md-radio-group {
  padding:0 !important;
  margin:auto 1% auto 0 !important;
}

:-webkit-input-placeholder {
  opacity:0 !important;
}
::-webkit-input-placeholder {
  opacity:0 !important;
}
:-moz-placeholder {
  opacity:0 !important;
}
::-moz-placeholder {
  opacity:0 !important;
}
:-ms-input-placeholder {
  opacity:0 !important;
}
.label {
  text-align:center;
}


.barChartSize{
  min-width: 30%;
}
