<md-card class="padded" flex="noshrink" ng-style="full-size" md-whiteframe="5">
  <!-- Main directive container, template root element. -->
  <!-- @author Roy Touw -->
    <div class="container-fluid"> <!-- Header -->
      <div class="col-md-1">Activity</div>
      <div class="col-md-1">Activity Type</div>
      <div class="col-md-1">Activity Travel Distance</div>
      <div class="col-md-1">Activity Cycle Time</div>
      <div class="col-md-3">Activity Name</div>
      <div class="col-md-1">Activity Cost</div>
      <div class="col-md-1">Activity Head Count</div>
      <div class="col-md-1">Activity Energy Usage</div>
    </div>

  <md-list>
    <!-- Processtap -->
    <div class="stap container-fluid" ng-repeat="stap in stappen.slice().reverse()">
    <span class="stapnummer col-md-1">
      {{stap.value}}
    </span>

    <span class="col-md-1">
      <md-input-container>
        <md-select ng-model="someModel" placeholder="Select a state">
          <md-option ng-click="menuItemClick($index)">Transport</md-option>
          <md-option ng-click="menuItemClick($index)">Hold</md-option>
          <md-option ng-click="menuItemClick($index)">Convert</md-option>
        </md-select>
      </md-input-container>
    </span>

    <span class="col-md-1">
      <input class="col-sm-1" type="text"/>
    </span>
    <span class="col-md-1">
      <input class="col-sm-1" type="text"/>
    </span>
    <span class="buttonSpan">
      <md-button class="md-primary" ng-click="insert(stap.value)" aria-label="Insert row">
        <span class="glyphicon glyphicon-plus"></span>
      </md-button>

      <md-button class="md-warn" type="button" class="md-warn" ng-click="remove(stap.value)" aria-label="Remove row">
        <span class="glyphicon glyphicon-trash"></span>
      </md-button>
    </span>
    </div>

    <md-button class="md-primary" ng-click="add()">add</md-button>
    <md-button class="md-warn" ng-click="removeLast()">remove</md-button>
  </md-list>

</md-card>
