<md-list-item>
    <span flex="5" class="stapnummer">
      {{processstep.index}}
    </span>

  <md-radio-group ng-modell="processstep.type" layout="row" style="padding:0%; margin:0%;"
                  ng-show="$state.current.name == 'process.current'">
    <md-radio-button value="T" style="margin:0%; padding:0%;"></md-radio-button>
    <md-radio-button value="H" style="margin:0%; padding:0%;"></md-radio-button>
    <md-radio-button value="C" style="margin:0%; padding:0%;"></md-radio-button>
  </md-radio-group>

  <md-input-container flex="5" class="stapnummer" ng-show="$state.current.name !== 'process.current'">
    1
    {{processstep.type}}
  </md-input-container>

  <md-input-container flex ng-hide="$state.current.name == 'process.vendor'">
    <input ng-model="processstep.distance" placeholder="travel distance">
  </md-input-container>

  <md-input-container flex ng-hide="$state.current.name == 'process.vendor'">
    <input ng-model="processstep.time" placeholder="cycle time">
  </md-input-container>

  <md-input-container flex="30">
    <input ng-model="processstep.name" placeholder="Name">
  </md-input-container>

  <md-input-container flex>
    <input ng-model="processstep.cost" placeholder="Cost">
  </md-input-container>

  <md-input-container flex ng-hide="$state.current.name == 'process.vendor'">
    <input ng-model="processstep.headcount" placeholder="Head count">
  </md-input-container>

  <md-input-container flex>
    <input ng-model="processstep.energy" placeholder="Energy usage">
  </md-input-container>

  <div layout="row" flex ng-show="$state.current.name == 'process.current'">
    <md-button  ng-click="insert(processtep)" aria-label="Insert row">
      <span class="glyphicon glyphicon-plus"></span>
    </md-button>

    <md-button ng-click="edit(processtep)">
      <md-icon class="material-icons">edit</md-icon>
    </md-button>

    <!--<md-button class="md-warn" type="button" class="md-warn" ng-click="remove(processtep)" aria-label="Remove row">-->
      <!--<span class="glyphicon glyphicon-trash"></span>-->
    <!--</md-button>-->
  </div>
</md-list-item>
