<md-content>
  <md-card class="processCard" ng-click="goToProcess()">
    <md-card-header>
      <md-card-title>
        Workfloor Process Azië
      </md-card-title>
      <md-card-subtitle>
        Date
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <ul>
        <li>Batch Size: 5</li>
        <li>Hours per day: 420</li>
        <li>Pieces per day: 1337</li>
        <li>Processs steps: 109</li>
      </ul>
      <p>
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </p>
    </md-card-content>
  </md-card>
</md-content>
