<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='../bower_components/angular-material/angular-material.css'/>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- endbuild -->
</head>
<body ng-app="wfpcsFrontApp" layout="column">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<!--<md-toolbar class="tabs-wrapper" layout-align="start center" layout="row" role="navigation">-->

        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->

        <!--<a class="navbar-brand" href="#/">wfpcsFront</a>-->
      <!--</div>-->

      <!--<div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="NavigationCtrl" layout="row">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li ng-class="{ active : isActive('/')}"><a ng-click="goToHome()">Home</a></li>-->
          <!--<li ng-class="{ active : isActive('/test')}"><a ng-click="goToTest()">test</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</md-toolbar>-->

<navigation></navigation>

<md-content ng-cloak >
  <md-tabs md-selected="selectedIndex" md-dynamic-height flex>

  <md-tab label="Current" >
    <div layout="row" >
    <process></process>
    <analyse></analyse>
    </div>
  </md-tab>

  <md-tab label="Improvement">
    <div layout="row" >
      <div flex="50">
      <process flex></process>
      <analyse flex></analyse>
      </div>
      <pipo></pipo>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </md-tab>
  <md-tab label="Quality"></md-tab>
</md-tabs>
<!--<ui-view layout layout-fill layout-align="space-around stretch">-->



<!--</ui-view>-->
  </md-content>

<div class="footer">
  <div class="container">
    <p>{{'VERTAALD' | translate}}</p>
    <p>MOJO SOLUTIONS</p>
    <md-button ng-click="changeLanguage('en')" label="">{{'TAAL' | translate}}</md-button>

    <form name="colorForm">
      <md-input-container>
        <label>Favorite Color</label>
        <input name="favoriteColor" ng-model="favoriteColor" required>
        <div ng-messages="userForm.lastName.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>


    </form>

  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');

</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/pipoController.js"></script>
<script src="scripts/directives/pipo.js"></script>
<script src="scripts/services/pipoService.js"></script>
<script src="scripts/controllers/process.js"></script>
<script src="scripts/controllers/navigation.js"></script>
<!-- endbuild -->

</body>
</html>
