<md-content layout-fill>
  <md-list>
    <md-list-item flex>
    <!--<div layout="column">-->
    <!--<span flex="5">Activity Nr.</span>-->
    <!--</div>-->

    <div layout="column" flex="15">
      <!--<span >Activity Type</span>-->
      <md-radio-group ng-model="processstep.type" layout="row" style="padding=0%; margin=0%;">
        <md-radio-button value="T" style="padding:0%;">T</md-radio-button>
        <md-radio-button value="H" style="padding:0%;">H</md-radio-button>
        <md-radio-button value="C" style="padding:0%;">C</md-radio-button>
      </md-radio-group>
      <!--<md-select ng-model="someModel" placeholder="Select a state">-->
      <!--<md-option ng-click="menuItemClick($index)">Transport</md-option>-->
      <!--<md-option ng-click="menuItemClick($index)">Hold</md-option>-->
      <!--<md-option ng-click="menuItemClick($index)">Convert</md-option>-->
      <!--</md-select>-->
    </div>
    <div layout="column" flex="15">
      <!--<span flex="15">Activity Travel Distance</span>-->
      <md-input-container>
        <input ng-mode="processstep.distance" placeholder="travel distance">
      </md-input-container>
    </div>

    <div layout="column" flex="15">
      <!--<span flex="15">Activity Cycle Time</span>-->
      <md-input-container>
        <input ng-mode="processstep.time" placeholder="cycle time">
      </md-input-container>
    </div>

    <div layout="column" flex="30">
      <!--<span flex="30">Activity Name</span>-->
      <md-input-container>
        <input ng-mode="processstep.name" placeholder="Name">
      </md-input-container>
    </div>

    <div layout="column" flex="5">
      <!--<span flex="5">Activity Cost</span>-->
      <md-input-container>
        <input ng-mode="processstep.cost" placeholder="Cost">
      </md-input-container>
    </div>

    <div layout="column" flex="15">
      <!--<span flex="15">Activity Head Count</span>-->
      <md-input-container>
        <input ng-mode="processstep.headcount" placeholder="Head count">
      </md-input-container>
    </div>

    <div layout="column" flex="15">
      <!--<span flex="15">Activity Energy Usage</span>-->
      <md-input-container>
        <input ng-mode="processstep.energy" placeholder="Energy usage">
      </md-input-container>
    </div>

    <div layout="column">
      <md-button class="md-primary" ng-click="insert(stap.value)" aria-label="Insert row">
        <span class="glyphicon glyphicon-plus"></span>
      </md-button>
    </div>
    <md-button class="md-warn" type="button" class="md-warn" ng-click="remove(stap.value)" aria-label="Remove row">
      <span class="glyphicon glyphicon-trash"></span>
    </md-button>
    </md-list-item>
  </md-list>

  <!--tab content-->

  <md-card layout="row">
    <md-content layout="row">
      <md-list>
        <processstep ng-repeat="i in [0,1,2,4,5,6,7,8,9,10]"/>
        <!--<processstep ng-repeat="stap in stappen.slice().reverse()"></processstep>-->
      </md-list>
    </md-content>
  </md-card>

  <bar></bar>
</md-content>
