<md-card layout flex class="list-item-height">
  <div layout="column" class="list-item-height" flex>
    <!--<span >Activity Type</span>-->
    <md-radio-group ng-model="processStep.type" layout="row">
      <md-radio-button aria-label="" value="T">T</md-radio-button>
      <md-radio-button aria-label="" value="H">H</md-radio-button>
      <md-radio-button aria-label="" value="C">C</md-radio-button>
    </md-radio-group>
  </div>
  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.distance" placeholder="{{'TRAVEL_DISTANCE' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.time" placeholder="{{'CYCLE_TIME' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.name" placeholder="{{'NAME' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.cost" placeholder="{{'COST' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.headCount" placeholder="{{'HEAD_COUNT' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <div layout="column" flex>
    <md-input-container>
      <input ng-model="processStep.energy" placeholder="{{'ENERGY_USAGE' | translate}}" aria-label="">
    </md-input-container>
  </div>

  <md-button class="md-primary" ng-click="insert(stap.value)" aria-label="Insert row">
    <span class="glyphicon glyphicon-plus"></span>
  </md-button>

  <md-button class="md-warn" type="button" class="md-warn" ng-click="remove(stap.value)" aria-label="Remove row">
    <span class="glyphicon glyphicon-trash"></span>
  </md-button>
</md-card>
<div style="height: 65% !important; overflow:scroll !important;">
  <!--tab content-->
  <md-list>
    <!--<md-content>    -->
    <process-step ng-repeat="processStep in processSteps"></process-step>
    <!--</md-content>-->
  </md-list>
</div>
