<div flex layout="row">
  <span flex="50">{{'CURRENT' | translate}}</span>
  <span flex="50">{{'TOBE' | translate}}</span>
</div>
  <md-content layout="row" flex class="limited-height">
    <!--directive-->
    <div flex="50" style="border-right:1px solid black;">
      <md-list>
        <process-step ng-repeat="processStep in  processSteps | orderBy:number:reverse"></process-step>
        <!--<processstep ng-repeat="stap in stappen.slice().reverse()"></processstep>-->
      </md-list>
    </div>
    <div flex>
      <md-list>
        <to-be-step ng-repeat="toBeStep in toBeSteps | orderBy:number:reverse"></to-be-step>
        <!--<tobestep ng-repeat="stap in stappen.slice().reverse()"></tobestep>-->
      </md-list>
    </div>
  </md-content>


