<md-content layout layout-padding layout-align="center center">
  <md-card layout-padding style="width:40%;" >
    <form layout="column" name="changepassword">

      <md-input-container>
          <label>{{'PASSWORD' | translate}}</label>
          <input required ng-model="password" name="password" type="password">
        <div ng-show="changepassword.passwordconfirm.$error.match">{{'PASSWORDMISSMATCH' | translate}}</div>
        </md-input-container>

        <md-input-container>
          <label>{{'PASSWORDCONFIRM' | translate}}</label>
          <input required ng-model="passwordconfirm" name="passwordconfirm" match="password" type="password">

        </md-input-container>
      </div>


      <div layout="row" layout-align="start center">
        <md-button id="changepassword.submit" ng-disabled="changepassword.passwordconfirm.$error.match" ng-click="editPassword(password)" type="submit" style="color:white !important;" class="md-primary">
          {{'SAVECHANGEBUTTON' | translate}}
        </md-button>

        <span layout-margin="5%"></span>

        <md-button id="changepassword.cancel" ui-sref="/myprofile" style="color:white !important;" class="md-warn">
          {{'CANCELBUTTON' | translate}}
        </md-button>
      </div>


    </form>
  </md-card>
</md-content>
