<div class="footer">
  <searchbar></searchbar>

  <!--directive-->
  <div>
    <div ng-click="theFooter=!theFooter; refreshData();" class="TopAndBottomBorder" layout="row"
         layout-align="space-around">
      <div ng-show="theFooter">
        <label>{{'HIDEFOOTER' | translate}}</label>
        <md-icon class="downIcon">keyboard_arrow_down</md-icon>
      </div>

      <div ng-show="!theFooter" ng-click="theFooter=!theFooter;">
        <label>{{'SHOWFOOTER' | translate}}</label>
        <md-icon class="upIcon">keyboard_arrow_up</md-icon>
      </div>

      <div>
        <label>{{'SHOWFOOTER' | translate}}</label>
        <md-icon class="material-icons">refresh</md-icon>
      </div>
    </div>

    <md-card ng-show="theFooter" ng-if="$state.current.name == 'process.current'">
      <div class="chartAreaWrapper">
        <span>Bottleneck: {{bottleneckData.bottleneck}}  TAKT TIME: {{bottleneckData.taktTime}}</span>
        <canvas id="bvp" class="chart chart-bar"
                chart-data="bottleneckData.values"
                chart-labels="bottleneckData.labels"
                chart-series="bottleneckData.series"
                height="50%">
        </canvas>
      </div>

    </md-card>
  </div>
</div>



