<md-content layout layout-padding layout-align="center center">
      <md-card layout-padding style="width:30%;">
        <img class="login-image" src="images/yeoman.png">
        <form layout="column">
          <md-input-container>
            <label>{{'USERNAME' | translate}}</label>
            <input md-autofocus required ng-model="username" type="text">
          </md-input-container>
          <md-input-container>
            <label>{{'PASSWORD' | translate}}</label>
            <input  required ng-model="password" type="password">
          </md-input-container>
          <md-button id="login.submit" type="submit">{{'LOGINBUTTON' | translate}}</md-button>
        </form>
      </md-card>
</md-content>
