<md-tabs md-selected="currentTab" md-dynamic-height layout-fill>
    <md-tab ui-sref="process.current" label="{{'CURRENT' | translate}}" md-active="$state.is('process.current')">
    </md-tab>

    <md-tab ui-sref="process.improvement" label="{{'TOBE' | translate}}" md-active="$state.is('process.improvement')">
    </md-tab>

    <md-tab ui-sref="process.quality" label="{{'QUALITY' | translate}}" md-active="$state.is('process.quality')">
    </md-tab>

    <md-tab label="{{'TEST' | translate}}">
    </md-tab>
</md-tabs>
<ui-view></ui-view>
