<div class="processContainer">
  <!-- Main directive container, template root element. -->
  <!-- @author Roy Touw -->
  <div class="container-fluid"> <!-- Header -->
   <div class="col-md-1">Activity</div>
   <div class="col-md-1">Activity Type</div>
   <div class="col-md-1">Activity Travel Distance</div>
   <div class="col-md-1">Activity Cycle Time</div>
   <div class="col-md-3">Activity Name</div>
   <div class="col-md-1">Activity Cost</div>
   <div class="col-md-1">Activity Head Count</div>
   <div class="col-md-1">Activity Energy Usage</div>
  </div>

  <!-- Processtap -->
  <div class="stap container-fluid" ng-repeat="stap in stappen.slice().reverse()">
    <span class="stapnummer col-md-1">
      {{stap.value}}
    </span>
    <span class="col-md-1">
      <select class="btn btn-primary btn-xs dropdown-toggle">
        <option>T</option>
        <option>H</option>
        <option>C</option>
      </select>
    </span>
    <span class="col-md-1">
      <input class="col-sm-1" type="text" />
    </span>
    <span class="col-md-1">
      <input class="col-sm-1" type="text" />
    </span>
    <span class="buttonSpan">
      <button class="btn btn-success btn-xs" ng-click="insert(stap.value)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <button class="btn btn-danger btn-xs" ng-click="remove(stap.value)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>

  </div>

  <button class="btn btn-success" ng-click="add()">add</button>
  <button class="btn btn-danger" ng-click="removeLast()">remove</button>
</div>
