<md-content layout layout-padding layout-align="center center">
  <md-card layout-padding style="width:50%;">
    <form layout="column">

      <md-input-container>
        <label>{{'FIRSTNAME' | translate}}</label>
        <input md-auto-focus required ng-model="user.firstName" type="text" maxlength="255">
      </md-input-container>


      <md-input-container>
        <label>{{'LASTNAME' | translate}}</label>
        <input md-auto-focus required ng-model="user.lastName" type="text" maxlength="255">
      </md-input-container>

      <md-input-container>
        <label>{{'SALUTATION' | translate}}</label>
        <input md-auto-focus required ng-model="user.salutation" type="text" maxlength="255">
      </md-input-container>

      <md-input-container>
        <label>{{'COMPANYNAME' | translate}}</label>
        <input md-auto-focus required ng-model="user.customer.companyName" type="text" maxlength="255">
      </md-input-container>

      <md-input-container>
        <label>{{'COMPANYDESCRIPTION' | translate}}</label>
        <textarea ng-model="user.customer.description" maxlength="255"> </textarea>
      </md-input-container>

      <md-input-container>
        <label>{{'ADDRESS' | translate}}</label>
        <input required ng-model="user.customer.address" type="text" maxlength="255">
      </md-input-container>

      <div layout="row" layout-align="start center">
        <md-input-container flex="50">
          <label>{{'ZIPCODE' | translate}}</label>
          <input required ng-model="user.customer.zipcode" type="text" maxlength="255">
        </md-input-container>

        <span layout-margin="5"></span>

        <md-input-container flex="50" layout-align="center center">
          <label>{{'CITY' | translate}}</label>
          <input required ng-model="user.customer.city" type="text" maxlength="255">
        </md-input-container>
      </div>

      <md-input-container>
        <label>{{'EMAIL' | translate}}</label>
        <input required ng-model="user.emailAddress" type="email">
      </md-input-container>

      <div layout="row" layout-align="start center">
        <md-input-container flex="50">
          <label>{{'USERNAME' | translate}}</label>
          <input required ng-model="user.username" type="text" ng-disabled="true">
        </md-input-container>

        <span layout-margin="5"></span>

        <md-button id="nav.account.resetpassword" ui-sref="changepassword">
          {{'CHANGEPASSWORDBUTTON' | translate}}
        </md-button>
      </div>


      <div layout="row" layout-align="start center">
        <md-button id="myprofile.submit" flex = "50%" ng-click="edit(user)" type="submit" class="md-primary">
          {{'SAVECHANGEBUTTON' | translate}}
        </md-button>

        <span layout-margin="5%"></span>

        <md-button id="myprofile.cancel" flex = "50%" ui-sref="/dashboard" class="md-warn">
          {{'CANCELRBUTTON' | translate}}
        </md-button>
      </div>


    </form>
  </md-card>
</md-content>
