<md-content layout layout-padding layout-align="center center">
  <md-card layout-padding style="width:50%;">
    <md-card-header>
      <md-card-header-text layout-align="center center">
        <span class="md-title"> {{'REGISTERTITLE' | translate}} </span>
      </md-card-header-text>
    </md-card-header>

    <form layout="column" name="register">

      <md-input-container>
        <label>{{'COMPANYNAME' | translate}}</label>
        <input md-auto-focus required ng-model="user.companyname" type="text" maxlength="255">
      </md-input-container>

      <md-input-container>
        <label>{{'COMPANYDESCRIPTION' | translate}}</label>
        <textarea ng-model="user.companydescription" maxlength="255"> </textarea>
      </md-input-container>

      <md-input-container>
        <label>{{'ADRESS' | translate}}</label>
        <input required ng-model="user.adress" type="text" maxlength="255">
      </md-input-container>

      <div layout="row" layout-align="start center">
        <md-input-container flex="50">
          <label>{{'ZIPCODE' | translate}}</label>
          <input required ng-model="user.zipcode" type="text" maxlength="255">
        </md-input-container>

        <span layout-margin="5"></span>

        <md-input-container flex="50" layout-align="center center">
          <label>{{'CITY' | translate}}</label>
          <input required ng-model="user.city" type="text" maxlength="255">
        </md-input-container>
      </div>

      <md-input-container>
        <label>{{'EMAIL' | translate}}</label>
        <input required ng-model="user.email" type="email">
      </md-input-container>

      <div layout="row" layout-align="start center">
        <md-input-container flex="33">
          <label>{{'USERNAME' | translate}}</label>
          <input required ng-model="user.username" type="text">
        </md-input-container>

        <span layout-margin="5"></span>

        <md-input-container flex="33">
          <label>{{'PASSWORD' | translate}}</label>
          <input name="newPassword" required ng-model="user.password" ng-model="user.password" type="password">
          <div ng-show="register.confirmPassword.$error.match">{{'PASSWORDMISSMATCH' | translate}}</div>
        </md-input-container>

        <span layout-margin="5"></span>

        <md-input-container flex="33">
          <label>{{'PASSWORDCONFIRM' | translate}}</label>
          <input name="confirmPassword" required ng-model="user.passwordconfirm" type="password" match="user.password">
        </md-input-container>
      </div>

      <div layout="row" layout-align="start center">
        <!--ng-click="register(user), checkPassword(userpassword)"-->
        <md-button id="register.submit" flex="50" ng-click="register(user)" type="submit" class="md-primary">
          {{'REGISTERBUTTON' | translate}}
        </md-button>

        <span layout-margin="5"></span>

        <md-button id="register.cancel" flex="50" ui-sref="/" class="md-warn">
          {{'CANCELRBUTTON' | translate}}
        </md-button>
      </div>
    </form>
  </md-card>
</md-content>
